<header>
  <div class="container">
    <h1>Omar's Blog</h1>
    <p>An example of a blog template for now as a placeholder</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      | <%= link_to 'Topics', topics_path %>
    </span>
  </div>
</header>