<header>
  <div class="container">
    <h1>My Blog</h1>
    <hr>
    <div class="blog-links">
      <span>
      <%= link_to 'New Post', new_blog_path if logged_in?(:site_admin) %>
      </span>
      <span>
        | <%= link_to 'List Topics', topics_path %>
      </span>
    </div>
  </div>
</header>