<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Hey, I'm Omar and I am glad you're here. I am a web developer always keen to learn more. I'm also a big football fan and a crossfitter. I currently live in Dubai with my wife and baby. Here are some of the things I specialize in and hopefully can help you with ☺️ </p>
    <p>
      <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Read My Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>