<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "omar_backyard.jpg", width: 250, alt: "Omar's profile picture", class: 'profile-img' %>
        <div class= 'skills'>
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-success"
                  type="progressbar"
                  aria-valuenow ="<%= skill.percent_utilized %>"
                  aria-valuemax ="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>With over a decade of experience in a number of industries in the USA and Middle East, I reliazed that the typical product creation and communication between people, business and developers was flawed. Usually the developers start the product development process with little to no communication with producr owners let alone the end users of the product</p>

        <p>I aim to improve this process of enhancing user satisfaction with a product by improving the usability, accessibility, and pleasure provided in the interaction with the product. User experience design encompasses traditional human–computer interaction (HCI) design, and extends it by addressing all aspects of a product or service as perceived by users</p>

        
        </p>

        <p class= 'cv-btn'>
          <button
              class= "btn btn-primary"
              type= "button"
              data-toggle= "collapse"
              data-target= "#education"
              aria-expanded= "false"
              aria-controler= "jobHistory"
            >
              Education
            </button>

          <button
            class= "btn btn-primary"
            type= "button"
            data-toggle= "collapse"
            data-target= "#experience"
            aria-expanded= "false"
            aria-controler= "jobHistory"
          >
            Experience
          </button>

          <button
              class= "btn btn-primary"
              type= "button"
              data-toggle= "collapse"
              data-target= "#oss"
              aria-expanded= "false"
              aria-controler= "jobHistory"
            >
              Contribution
            </button>

            <button
                class= "btn btn-primary"
                type= "button"
                data-toggle= "collapse"
                data-target= "#projects"
                aria-expanded= "false"
                aria-controler= "jobHistory"
              >
                Projects
              </button>
        </p>

        <p>
          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>

          <div class="collapse" id="experience">
            <div class="card card-block">
              JOB 1
            </div>
            <div class="card card-block">
              JOB 2
            </div>
            <div class="card card-block">
              JOB 3
            </div>
          </div>

          <div class="collapse" id="oss">
            <div class="card card-block">
              OSS 1
            </div>
            <div class="card card-block">
              OSS 2
            </div>
            <div class="card card-block">
              OSS 3
            </div>
          </div>
        
          <div class="collapse" id="projects">
            <div class="card card-block">
              Projct 1
            </div>
            <div class="card card-block">
              Projct 2
            </div>
            <div class="card card-block">
              Projct 3
            </div>
          </div>
        </p>

      </div>
    </div>
  </div>
</div>

