<h1>Pages#contact</h1>
<p><%= number_to_phone "3101101456" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "10" %></p>
<p><%= number_with_delimiter "10689084980945809" %></p>
