<div class="app-card-container">
  <div class="card">
    <div class="card-body">
      <h1>Hire Me</h1>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <h3>Visit me</h3>
          <p>Villa 317 Jumeirah Beach Road, PO Box 119545, Dubai, United Arab Emirates</p>
          <h3>Phone me</h3>
          <p><%= number_to_phone "+971501006659" %></p>
          <h3>Email me</h3>
          <p><a href="mailto: oalbacha@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
        </div>

        <div class="col-md-4">
          <img class="card-img-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14435.233037698377!2d55.275650649999996!3d25.243382299999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42114dd0fb43%3A0xcdbb66c0c5a222a5!2s317+Jumeria+Rd+-+Dubai!5e0!3m2!1sen!2sae!4v1520859102070" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>