<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome to my online home.</h1>
  <p class="lead">I want to make sure I add value, love and respect to everyone I interact with letalone work with</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary" %>
  </p>
</main>
